/*
9b2226
*/

footer {
  background-color: #550c18;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  z-index: 1;
}

span {
  font-size: 15px;
  color: silver;
}

footer p {
  color: silver;
}

#copyright-ic {
  font-size: 12px;
  color: #ececec;
}

#ft-icons {
  font-size: 23px;
  margin-left: 0.7rem;
  color: #ececec;
}
