.projects-container {
  background-color: brown;
  padding-bottom: 1rem;
}

.title {
  padding: 2rem 0 1.5rem 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0 2em;
  margin-bottom: 2rem;
}

.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.project-card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  min-height: 100px;
  border: 2px whitesmoke solid;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.github-icon {
  font-size: 30px;
}

#link {
  all: unset;
  color: white;
}

#link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#ghlink {
  all: unset;
  color: white;
}

#ghlink:hover {
  color: black;
  cursor: pointer;
  border: 2px black solid;
  border-radius: 50%;
}

.project-card img:hover {
  border: 4px yellow solid;
}

@media (max-width: 800px) {
  .projects-grid {
    display: flex;
    flex-direction: column;
  }
}
